body {
  margin: 0;
  background: #bfbfbf;
  font-family: sans-serif;
}

.container {
  width: 600px;
  margin: 40px auto;
}

#search {
  width: 100%;
  padding: 12px;
  font-size: 28px;
  border: none;
  outline: none;
  background: white;
  margin-bottom: 4px;
}

.suggestions div {
  padding: 12px;
  font-size: 22px;
  border: 1px solid black;
  background: #dcdcdc;
  cursor: pointer;
}

.suggestions div:hover {
  background: #6ad3ff;
}

.repo-list {
  margin-top: 20px;
}

.repo-card {
  background: #e487fc;
  border: 1px solid black;
  margin-bottom: 5px;
  padding: 12px;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
}

.repo-info {
  white-space: pre-line;
}

.delete-btn {
  font-size: 36px;
  color: red;
  cursor: pointer;
  background: transparent;
  border: none;
}

