body {
  margin: 0;
  padding: 0;
  background: #bfbfbf;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
}

.container {
  width: 650px;
  padding: 40px;
}

.search-wrap {
  background: white;
  padding: 15px 10px;
  font-size: 36px;
  font-weight: 600;
  border: 2px solid black;
  margin-bottom: 5px;
}

#search {
  width: 100%;
  padding: 15px;
  font-size: 20px;
  border: 2px solid black;
  outline: none;
}

#suggestions {
  border: 2px solid black;
  border-top: none;
}

.suggestion-item {
  padding: 12px 10px;
  font-size: 20px;
  background: #dcdcdc;
  border-bottom: 1px solid black;
  cursor: pointer;
}

.suggestion-item:hover {
  background: #8fe2ff;
}

.suggestion-item.selected {
  background: #64d3ff;
}

.repo-card {
  margin-top: 20px;
  background: #e086ef;
  border: 2px solid black;
  padding: 15px 20px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.repo-info p {
  margin: 4px 0;
  font-size: 20px;
}

.delete-btn {
  background: none;
  border: none;
  font-size: 38px;
  color: red;
  cursor: pointer;
  font-weight: bold;
}
