body {
  font-family: sans-serif;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 450px;
}

#search {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#suggestions {
  width: 100%;
  background: #fff;
  border: 1px solid #dcdcdc;
  border-top: none;
}

.suggestion-item {
  padding: 10px;
  cursor: pointer;
}

.suggestion-item:hover {
  background: #eee;
}

.repo-card {
  background: #fff;
  border: 1px solid #dcdcdc;
  padding: 12px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-btn {
  background: rgb(255, 83, 83);
  border: none;
  color: white;
  padding: 6px 10px;
  cursor: pointer;
  border-radius: 4px;
}
